.settings {
    justify-content: space-between;
    align-items: center;
    height: 122px;

    h2 {
        font-size: 32px;
        font-weight: 500;
        color: #002f34;
    }

    .setting-right {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            line-height: 14px;
            text-align: right;
        }

        i {
            font-size: 18px;
            color: #7f9799;
            cursor: pointer;
        }

        button {
            margin-left: 15px;
            padding: 10px 20px;
            background: transparent;
            color: #002f34;
            transition: all 0.3s ease;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            font: inherit;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            border-radius: 4px;
            border: 3px solid #002f34;

        }

        button:hover {
            box-shadow: inset 0 0 0 3px #002f34;
        }
    }
}

.ads {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        font-weight: inherit;
        font-size: 14px;
        color: #002f34;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .line {
        border-bottom: 3px solid #002f34;
    }

    span:hover {
        background-color: #002f34;
        color: white;
    }
}

.setting-btn-2{
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 10px 15px;
    width: 25%;
    background-color: #002f34;
    border-radius: 4px;
    border: 3px solid #002f34;
    cursor: pointer;
    color: white;
    margin-bottom: 30px;
    overflow: hidden;
    transition: all 0.3s ease;

}

.setting-btn-2:hover {
    background-color: white;
    color: #002f34;
}
.setting-btn-3{
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 10px 15px;
    width: 15%;
    background-color: #002f34;
    border-radius: 4px;
    border: 3px solid #002f34;
    cursor: pointer;
    color: white;
    margin-bottom: 30px;
    overflow: hidden;
    transition: all 0.3s ease;
    display: block;
    margin: 20px auto;
}

.setting-btn-3:hover {
    background-color: white;
    color: #002f34;
}

.all-set {
    background-color: #f2f4f5;
    padding: 33px 0;

    .accordion-item {
        margin: 20px 0;
        h2 {
            button {
                color: #002f34;
                cursor: pointer;
                font-size: 16px;
            }
        }

        .accordion-body {
            h4{
                font-size: 14px;
                color: #002f34;
                width: 53%;
                font-weight: 500;
                margin-top: 10px;
            }
            form {
                div {
                    margin: 20px 0;
                    width: 100%;

                    label {
                        display: block;
                        font-weight: inherit;
                        font-size: 14px;
                        color: #002f34;
                        margin-bottom: 5px;
                        span{
                            color: red;
                        }
                    }

                    select,
                    .olx-input {
                        width: 25%;
                        padding: 8px 10px;
                        background-color: #f2f4f5;
                        border-radius: 4px;
                        border: none;
                        outline: none;

                        option {
                            padding: 10px 20px !important;
                            outline: none;
                            background-color: #f2f4f5;
                            overflow: hidden;
                        }
                    }
                }

                .setting-btn {
                    font-size: 16px;
                    font-weight: 600;
                    border: none;
                    padding: 10px 15px;
                    width: 15%;
                    background-color: #002f34;
                    border-radius: 4px;
                    border: 3px solid #002f34;
                    cursor: pointer;
                    color: white;
                    margin-bottom: 30px;
                    overflow: hidden;
                    transition: all 0.3s ease;

                }

                .setting-btn:hover {
                    background-color: white;
                    color: #002f34;
                }
            }
        }
    }
}