.user{
    display: flex;
    width: 100%;
    // align-items: center;
    // justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid gray   ;
    .img1{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .mmb{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .box{
            margin-left: 10px;
            .name{
                font-size: 15px;
            }
            .text{
                font-size: 15px;
            }
            .message{
                font-size: 15px;
            }
        }
        .box2{
            .data{
                
            }
            .fa-regular{}
        }
    }
}
@media only screen and (max-width: 325px) {
    .user{
        display: flex;
        width: 100%;
        // align-items: center;
        // justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid gray   ;
        .img1{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .mmb{
            display: flex;
            justify-content: space-between;
            width: 100%;
            .box{
                margin-left: 10px;
                .name{
                    font-size: 10px;
                }
            }
            .box2{
                .data{
                    font-size: 10px;
                }
                .fa-regular{
                    font-size: 10px;
                }
            }
        }
    }
}
@media only screen and (max-width: 273px) {
    .user{
        display: flex;
        width: 100%;
        // align-items: center;
        // justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid gray   ;
        .img1{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .mmb{
            display: block;
            justify-content: space-between;
            width: 100%;
            .box{
                margin-left: 10px;
                .name{
                    font-size: 10px;
                }
            }
            .box2{
                .data{
                    font-size: 10px;
                }
                .fa-regular{
                    font-size: 10px;
                }
            }
        }
    }
}