.navbar{
    background-color: rgba($color: #002f34, $alpha: 1.0);
    color: white;
    align-items: center;
    .navbar-brand{
        img{

            width: 70px;
            height: 70px;
        }
    }
    .collapse{
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul{
            text-align: right;
            li{
                a{
                    color: #ffffff;
                    margin-left: 18px;
                    font-family: Geomanist, Arial, sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                    svg{
                        height: 22px;
                        width: 22px;
                        margin-right: 10px;
                    }
                }
                .rus{
                    font-size: 14px;
                    color: white;
                    font-weight: normal;
                    span{
                        font-size: 14px;
                        color: rgb(127, 151, 153);
                        margin-right: 10px;
                    }
                }
            }
        }
        button{
            background-color: white;
            color: #002f34;
            font-weight: 700;
            padding: 10px 20px;
            border-radius: 5px;
            border: 2px solid white;
        }
        button:hover{
            background-color: #002f34;
            color: white;
            border-radius: 5px;
            border: 2px solid white;
        }
    }
}
