.cars{
    width: 100%;
    background-color: rgb(237, 237, 237);
    .box1{
        margin: 10px 0;
        .form-check{
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            .form-check-input{
                box-shadow: none;
            }   
            .form-check-label{
                font-size: 17px;
                font-weight: 500;
                color: rgb(183, 183, 183);
            }
        }   
        .btn1{
            border-radius: 5px;
            border: 2px solid #002f34;
            background-color: white;
            color: #002f34;
            width: 100%;
            padding: 10px 0px;
            font-weight: bold;
            .fa-regular{}
        }
        .btn1:hover{
            box-shadow: inset 0 0 0 3px #002f34;
            background-color: white;
            color: #002f34;
        }
    }
    .box2{
        margin: 20px 0;
        .filter{
            margin-bottom: 30px;
        } 
        .dropdavuns{
            .dropdavun{
                .h6{
                    margin-top: 10px;
                }
                #address{
                    width: 100%;
                    margin: 5px 0;
                    padding: 5px;
                    border: none;
                }
            }
        }  
    }

    .h4{
        margin-top: 30px;  
        font-weight: 700;     
    }
    .box4{
        text-decoration: none;
        color: black;
        margin: 50px 0;
        padding: 10px;
        background-color: white;
        // width: 100%;
        height: 200px;
        display: flex;
        .page1{
            .img_1{
                max-width: 200px;
                height: 100%;
                object-fit: cover;
            }
        }
        .page2{
            overflow: hidden;
            width: 100%;
            .malumot{
                padding-left: 10px;
                .text{
                    font-size: 20px;
                    font-weight: 500;
                }
                .text-truncate{
                    width: 100%;
                }
                .price{
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            .malumot2{
                margin-top: 50px;
                margin-left: 10px;
                .lakatsiya{
                    font-size: 15px;
                }
                .yurgan{
                    font-size: 15px;
                }
                .kuzatish{
                    color: white;
                }
                .fa-regular{}
                .fa-regular{}
            }
        }
    }
}
@media only screen and (max-width: 991px) {
    .cars{ 
        .box4{
            display: flex;
            .page1{
                .img_1{
                    max-width: 200px;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .page2{
                .malumot{
                    .text{
                        font-size: 16px;
                        font-weight: 500;
                    }
                    .price{
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
                .malumot2{
                    .lakatsiya{
                        font-size: 12px;
                    }
                    .yurgan{
                        font-size: 12px;
                    }
                    .fa-regular{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 800px) {
    .cars{ 
        .box4{
            display: flex;
            .page1{
                .img_1{
                    max-width: 200px;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .page2{
                .malumot{
                    .text{
                        width: 100%;
                        font-size: 16px;
                        font-weight: 500;
                    }
                    .text-truncate{
                        width: 100%;
                    }
                    .price{
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
                .malumot2{
                    margin-left: 10px;
                    .lakatsiya{
                        font-size: 12px;
                    }
                    .yurgan{
                        font-size: 12px;
                    }
                    .fa-regular{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 575px) {
    .cars{ 
        .box4{
            display: block;
            height: 100%;
            .page1{
                text-align: center;
                .img_1{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .page2{
                margin-top: 10px;
                .malumot{
                    .text{
                        width: 100%;
                        font-size: 16px;
                        font-weight: 500;
                    }
                    .text-truncate{
                        width: 100%;
                        
                    }
                    .price{
                        text-align: center;
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
                .malumot2{
                    margin-left: 10px;
                    .lakatsiya{
                        font-size: 12px;
                    }
                    .yurgan{
                        font-size: 12px;
                    }
                    .fa-regular{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}