.footer{
    width: 100%;
    .box_1{
        // background-color: gainsboro;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px;
        background-color: rgba($color: #002f34, $alpha: 1.0);
        color: white;
        align-items: center;
        .img1{
            margin: 0 auto;
            display: block;
            text-align: right;
            width: 100px;
            height: 100px;
        }
        .p_element{
            color: #7f9799;
        }
        .h5_element{
            color:rgb(235, 232, 232);
        }
        .batafsil{
            text-align: center;
            background-color: white;
            color: #002f34;
            font-weight: 700;
            padding: 10px 20px;
            margin-top: 20px;
            border-radius: 5px;
            border: 2px solid white;
        }
        .batafsil:hover{
            background-color: #002f34;
            color: white;
            border-radius: 5px;
            border: 2px solid white;
        }
    }
    .box_2{
        background-color: #cbf7ee;
        padding: 50px 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        .brend{
            color: #002f34;
            font-size: 60px;
            font-weight: bolder;
            margin-bottom: 50px;
            
        }
        .text{
            color: #002f34;
            font-size: 15px;
            font-weight: 400;
            word-spacing: 2px;
            width: 60%;
            margin: 0 auto;
        }
    }
    .box_3{
        
        padding: 50px 0;
        .img1{
            width: 150px;
            height: 150px;
        }
        .img2{
            width: 150px;
            height: 150px;
        }
        p{
            margin-top: 50px;
            word-spacing: 5px;
            span{
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
    .box_4{
        border-top: 2px solid black;
        padding: 50px 0;
        .kh2{
            display: block;
            margin-top: 5px;
            font-size: 15px;
            font-weight: bold;
        }
        .kh2:hover{
           background-color: #002f34;
           color: white;
           padding: 0px 0px;
        }
        .image{
            text-align: center;
            display: flex;
            .image1{
                width: 150px;
            }
            .image2{
                width: 150px;
            }
        }
        .image{
            .image1:hover{
                .app{
                    display: block;
                }
            }
            .image2:hover{
               .google {
                    display: block;
               }
            }
        }
        .p{
            font-size: 13px;
            padding-left: 50px;
        }
        .app{
            display: none;
            span{
                font-size: 15px;
                font-weight: bold;
            }
            padding-left: 50px;
            font-size: 13px;
        }
        .google{
            display: none;
            span{
                font-size: 15px;
                font-weight: bold;
            }
            padding-left: 50px;
            font-size: 13px;
        }
        .fut{
            margin-top: 30px;
            display: flex;
            .bay{
                margin-left: 10px;
              display: flex;
              img{
                width: 30px;
                height: 20px;
              }  
              span{
                font-size: 10px;
                margin-left: 5px;
              }
            }
        }
    }
}


@media only screen and (max-width: 410px) {
    .footer{
        .box_4{
            .fut{
                .bay{
                    margin-left: 10px;
                  display: flex;
                  img{
                    width: 20px;
                    height: 20px;
                  }  
                  span{
                    font-size: 7px;
                  }
                }
            }
        }
    }
}
@media only screen and (max-width: 350px) {
    .footer{
        .box_3{
            .img1{
                width: 150px;
                height: 150px;
            }
            .img2{
                margin-top: 70px;
                width: 150px;
                height: 150px;
            }
            p{
                margin-top: 50px;
                word-spacing: 5px;
                font-size: 16px;
                span{
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
        .box_4{
            .kh2{
                font-size: 15px;
                font-weight: bold;
            }
            .image{
                text-align: center;
                display: block;
                .image1{
                    width: 150px;
                }
                .image2{
                    width: 150px;
                }
            }
            .fut{
                .bay{
                    margin-left: 10px;
                    display: block;
                  img{
                    width: 20px;
                    height: 20px;
                  }  
                  span{
                    font-size: 7px;
                  }
                }
            }
        }
    }
}